* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #0b0f12;
}

.ubuntu-ligth {
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo {
  width: 50px;
}

.nav-home:hover::after {
  content: " Home";
}

.nav-job:hover::after {
  content: " Jobs";
}

.dark-css {
  background-color: #0b0f12;
}

.light-css {
  background-color: #ededed;
}

iframe {
  border: none;
}

/* Inside the iframe's content */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #0b0f12; 
}

::-webkit-scrollbar-thumb {
  background: #2c2b2b; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1919; 
}